#list-form-container {
	padding: 24px 24px 24px 24px;
	width: 468px;
	height: 192px;
}

#list-form-heading-container {
	display: flex;
	justify-content: space-between;
}

#list-form-heading {
	font-size: 18px;
	font-weight: 500;
}

#actual-form-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#list-name-inpt {
	width: 330px;
	height: 36px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	background-color: rgb(245, 248, 250);
	border: 1px solid rgb(245, 248, 250);
}

#list-name-inpt:hover {
	background-color: white;
}

#list-name-inpt:focus {
	outline: none;
	border: 1px solid rgb(0, 200, 5);
}

#list-buttons-container {
	margin-top: 15px;
	display: flex;
	justify-content: flex-end;
	width: 330px;
	gap: 10px;
}

#cancel-btn:hover {
	background-color: rgb(0, 200, 5, 0.1);
	cursor: pointer;
}

#cancel-btn,
#list-submit-btn {
	padding: 0 24px 0 24px;
	border-radius: 25px;
	height: 36px;
	background: none;
	border: 1px solid rgb(0, 200, 5);
	font-weight: 500;
}

#list-submit-btn:hover {
	border: 1px solid rgb(1, 162, 7);
	background-color: rgb(1, 162, 7);
	cursor: pointer;
}

#list-submit-btn {
	color: white;
	background-color: rgb(0, 200, 5);
}

#cancel-btn {
	color: rgb(0, 200, 5);
}
