.footer-container{
    margin-top: 130px;
    height: 30vh;
    width: 100%;
    border-top: 2px solid rgb(217, 212, 212);
    font-family: 'Rubik', sans-serif;
 
}


.footer-title {
    margin: 20px;
}

.developer-content{
    margin: 20px;
    display: flex;
    height: 20px;
    width: 200px;
}

.developers-name{
    font-size: 17px;
}

.developers-github{
    flex-basis: 50px;
    width: fit-content
}

.developers-github a {
    color: black;
    text-decoration: none;
    transition: all .3s ease;
}

.developers-github a:visited{
    color: black;
}

.developers-github i {
    transition: all .3s ease;

}

.developers-github i:hover{
    transform: scale(1.2);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}