#landingpage-left-container {
	/* opacity: calc(50%); */
	/* background-color: red; */
	width: 70vw;

	margin-top: 40px;
	margin-left: 25px;
	margin-right: 40px;
}

#currentPortfolioValue {
	/* padding: 50px; */
	font-size: 32px;
}

#portfolio-value-container {
	display: flex;
	flex-direction: column;
	/* padding: 50px; */
}

#portfolio-change-positive {
	color: rgb(0, 200, 5);
}

#portfolio-change-negative {
	color: red;
	font-size: 13px;
}
.fa-caret-down {
	padding: 0 5px;
}

#graph {
	padding: 10px 0px;
	width: 100%;

	/* margin-left: 50px; */
	margin-top: 0px;

	/* border: 1px solid #ccc; */
	/* border-radius: 10px; */

	/* display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 200, 5); */
}

#landing-page-container {
	display: flex;
}

/* OPINONS STUFF */

#opinions-title {
	/* border-top: 1px solid rgba(239, 242, 243, 1); */
	border-bottom: 1px solid rgba(239, 242, 243, 1);

	/* width: 68vw; */
	padding-bottom: 15px;
	/* padding-top: 30px; */
	margin-top: 30px;
	font-size: 24px;
	/* margin-left: 30px; */
}

#opinion-container {
	/* width: 73vw; */
	padding: 0 20px 0 0px;
	border-radius: 10px;

	/* background-color: red; */
}

.selected {
	color: rgb(0, 200, 5);
	text-decoration: underline;
}

#opinion {
	border-bottom: 1px solid rgba(239, 242, 243, 1);
	border-radius: 10px;
	padding-left: 20px;
	font-size: 15px;
	font-weight: 300;
	height: 180px;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#opinion-container:hover {
	background-color: rgba(239, 242, 243, 1);
	/* cursor: pointer; */
}

#opinion-author {
	line-height: 34px;
	margin-top: 20px;
	font-weight: 500;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#edit-delete-opinion-container {
	display: flex;
	/* margin-right: 30px; */
	gap: 10px;
}

#opinion-author button {
	font-size: 24px;
	border: none;
	background: none;
	display: flex;
	align-items: center;
	border-radius: 25px;
	padding: 5px;

	transition: all 0.5s;
}

#opinion-author button:hover {
	color: rgb(255, 80, 0);
	border-radius: 5px;
	cursor: pointer;
	background-color: white;
}

#opinion-content {
	display: flex;
	align-items: center;
	padding: 15px 0 15px 0;
}

#opinion-content:hover {
	background-color: rgb(239, 242, 243);
}

#opinion-ticker {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 34px;
	display: flex;
	align-items: center;
}

#opinons-filter-container {
	margin: 15px 0 15px 0;
	width: 210px;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
}

#my-opinons,
#all-opinions {
	transition: all 0.3s;
}

#my-opinons:hover,
#all-opinions:hover {
	cursor: pointer;
	color: rgb(0, 200, 5);
}

/* BUYING POWER STUFF */

#buying-power-container {
	position: relative;
	font-size: 24px;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-clip: content-box;
}

#buying-power-label:hover {
	background-color: rgb(239, 242, 243);
	cursor: pointer;
}

.buying-menu-trigger.inactive {
	border-bottom: 1px solid rgb(239, 242, 243);
	display: block;
	width: 100%;
	font-size: 24px;
}

.buying-menu-trigger.active {
	display: block;
	width: 100%;
	font-size: 24px;
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#buying-power-label {
	border-top: 1px solid rgb(239, 242, 243);
	border-bottom: 1px solid rgb(239, 242, 243);
	padding: 0 24px 0 24px;
	font-size: 15px;
	font-weight: 500;
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#buying-power-arrow {
	color: black;
	transition: all .3s;
}

#buying-power-label-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

#buying-power {
	float: right;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.buying-dropdown-menu {
	display: block;
}

.buying-dropdown-menu.inactive {
	opacity: 0;
	visibility: hidden;
	display: none;
	transform: translateY(-20px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.buying-dropdown-menu.active {
	height: 190px;
	padding: 24px;
	font-size: 13px;
}


.buying-power-content {
	width: 50%;
	height: 100%;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buying-power-row-container-1,
.buying-power-row-container-2,
.transfer-button-container {
	height: 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buying-power-row-container-1,
.buying-power-row-container-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#actual-cash {
	font-size: 400;
	color: black;
}

.buying-power-row-container-2 {
	font-weight: 500;
}

.buying-power-row-container-1 {
	border-bottom: 1px solid #cccccc98;
	color: rgb(106, 114, 120);
}

.transfer-button-container a {
	color: white;
	background-color: black;
	border-radius: 25px;
	font-size: 13px;
	font-weight: 500;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 44px;
}

.dep-div {
	margin-top: 30px;
	margin-left: 50px;
}


.buying-information {
	display: flex;
	flex-direction: column;
	overflow-wrap: break-word;
}

@media only screen and (max-width: 1300px) {
	.buying-information {
		display: flex;
		width: 70%;
		flex-direction: column;
		overflow-wrap: break-word;
	}

	.buying-dropdown-menu.active {
		width: 120%;
		display: flex;
		gap: 0;
	}

	.deposit-btn {
		padding: 10px 50px 10px;
	}
}

.learn-more {
	font-weight: bold;
	color: green;
}
