#graph {
	width: 60vw;
	height: 500px;

	margin-left: 70px;
	margin-top: 50px;

	border: 1px solid #ccc;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 200, 5);
}



#opinions-title {
	border-bottom: 1px solid rgba(239, 242, 243, 1);
	width: 68vw;
	padding-bottom: 15px;
	padding-top: 60px;
	margin-top: 60px;
	font-size: 24px;
	margin-left: 30px;
}

#opinion-container {
	width: 73vw;
	padding: 0 30px 0 30px;
	/* background-color: red; */
}

#opinion {
	border-bottom: 1px solid rgba(239, 242, 243, 1);
	font-size: 15px;
	font-weight: 300;
	height: 156px;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#opinion-container:hover {
	background-color: rgba(239, 242, 243, 1);
	cursor: pointer;
}

#opinion-author {
	margin-top: 20px;
	font-weight: 500;
	font-size: 14px;
}
#opinion-content {
	display: flex;
	align-items: center;
}
#opinion-ticker {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 14px;
}

#buying-power-container{
	width: 60vw;
	margin-left: 70px;
	margin-top: 50px;

	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 10px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.buying-dropdown-menu.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: var(--speed) ease;
}

.buying-dropdown-menu.inactive{
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: var(--speed) ease;
}
