/* body {
	overflow: hidden;
} */

.login-container {
	display: flex;
}

.login-image {
	position: fixed;
	width: 50vw;
	top: -17%;
}

.login-form-container {
	position: fixed;
	width: 50%;
	left: 50%;
}

.login-form-wrapper {
	width: max-content;
	margin-top: 15%;
	margin-left: 7%;
}

.login-form-wrapper > p {
	font-size: 21px;
	margin-bottom: 40px;
}

.login-label {
	font-size: 13px;
	margin-bottom: 10px;
}

.login-input {
	margin-bottom: 25px;
	height: 35px;
	width: 415px;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	outline: none;
	padding: 0 15px 0 15px;
}

#demo-user-login-btn {
	border: 1px solid black;
	border-radius: 25px;
	font-size: 13px;
	font-weight: 500;
	padding: 14px;
	width: 200px;
	background-color: white;
	color: black;
	margin-top: 15px;
}

#demo-user-login-btn:hover {
	background-color: rgb(247, 244, 244);
	border-color: rgba(0, 0, 0, 0.865);
	cursor: pointer;
}

.login-submit-btn {
	border: 1px solid black;
	border-radius: 25px;
	font-size: 13px;
	font-weight: 500;
	padding: 14px;
	width: 130px;
	background-color: black;
	color: white;
}

.login-submit-btn:hover {
	background-color: rgba(0, 0, 0, 0.865);
	border-color: rgba(0, 0, 0, 0.865);
	cursor: pointer;
}

hr#line {
	margin-top: 100px;
	height: 1px;
}

#notOnRobin {
	margin-top: 20px;
	font-size: 13px;
}

#notOnRobin > span {
	font-weight: 500;
	text-decoration: underline;
}

#notOnRobin > span:hover {
	cursor: pointer;
}

#login-errors-div {
	margin-bottom: 30px;
}

#login-error {
	color: rgb(250, 77, 77);
	font-size: 13px;
	margin-bottom: 5px;
}

.footer-container-signin-page{
	margin-top: 25px;
	height: 50vh;
	width: 100vh;
    border-top: 2px solid rgb(217, 212, 212);
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}
