.profile-dropdown {
	position: absolute;
}

.hidden {
	display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

#nav-container {
	display: flex;
	align-items: center;
	padding: 0 50px 0 50px;
	position: sticky;
	top: 0;
	height: 64px;
	background-color: white;
}

#search-bar-container {
	width: 100%;
	margin-right: 20px;
}

#search-bar-container > input {
	border: 1px solid #d3d3d3;
	background: url("https://static.thenounproject.com/png/101791-200.png")
		no-repeat left;
	background-size: 20px;
	background-position: 10px;
	width: 90%;
	height: 35px;
	border-radius: 5px;
	padding: 8px 8px 8px 35px;
	font-weight: 300;
	outline: none;
	transition: all 0.3s;
}

#search-bar-container > input:hover {
	border: 1px solid white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#links-container {
	display: flex;
	justify-content: space-evenly;
	text-align: right;
	font-weight: 500;
	min-width: max-content;
}

#links-container span {
	transition: all 0.2s;
	font-size: 14px;
	margin-left: 25px;
	padding-top: 10px;
}

#links-container span:hover {
	cursor: pointer;
	color: rgb(0, 200, 5);
}

#logo-container {
	width: 30%;
}

#logo-div {
	position: relative;
	width: max-content;
	height: max-content;
}

#logo-div #logo-hover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	object-fit: contain;
	opacity: 0;
	transition: opacity 0.2s;
}

#logo-div:hover #logo-hover {
	opacity: 1;
	cursor: pointer;
}

#logo-hover,
#logo-main {
	width: 40px;
	height: 40px;
}

/* dropdown */

.dropdown-menu {
	position: absolute;
	z-index: 1;
	top: 100%;
	right: 50px;
	border: 1px solid #ccc;
	width: 290px;
	height: max-content;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.user-name {
	padding: 15px 30px 15px 30px;
	border-bottom: 1px solid rgb(227, 233, 237);
	text-decoration: none;
	color: #333;
	text-align: left;
	font-size: 16 px;
}

.dropdown-menu button {
	background: none;
	border: none;
}

.dropdown-menu a,
.dropdown-menu button {
	padding: 15px 30px 15px 30px;
	text-decoration: none;
	color: #333;
	text-align: left;
	font-size: 13px;
	font-weight: 400;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.active-account-link {
	color: rgb(0, 200, 5);
	border-bottom: 2px solid rgb(0, 200, 5);
	padding-bottom: 10px;
}

.account-link {
	border-bottom: 2px solid white;
	padding-bottom: 10px;
}
