#modal {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#modal-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

#modal-content {
	position: fixed;
	top: 60px;
	right: 50px;
}
