#stock-details-wholepage {
	display: flex;
}

#stock-details-container {
	margin: 40px 0 0 25px;
	flex-shrink: 0;
	/* border: 1px solid black; */
	width: 1050px;
	/* background-color: blue; */
}

#temp-nav-bar {
	padding: 30px 0px;
}

.temp-nav-link {
	padding: 0px 20px;
}

#ticker-header,
#ticker-price {
	font-size: 32px;
}

#price-as-of {
	font-size: 12px;
}

#positive-price-changes {
	color: rgb(35, 205, 35);
	font-size: 13px;
	font-weight: 500;
	display: flex;
	gap: 5px;
}

#price-change-div {
	margin-top: 5px;
	display: flex;
	gap: 5px;
}

#price-change-div span {
	font-size: 13px;
}

#negative-price-changes {
	color: red;
	font-size: 13px;
	font-weight: 500;
	display: flex;
	gap: 5px;
}

#graph-container {
	border-bottom: 1px solid rgb(227, 233, 237);
	/* border-bottom: 1px solid rgba(239, 242, 243, 1); */
}

/* #line-chart-container {
	padding: 20px 0px;
	width: 100%;
} */

/* #line-chart2-container {
	padding: 20px 0px;
	height: 400px;
	width: 100%;
} */

/* right side area */

#right-side-stock-details {
	/* position: fixed;
	top: 0;
	right: 0; */
	/* background-color: red; */
	/* width: 330px; */
	position: sticky;
	top: 100px;
	height: 100vh;
	margin-top: 100px;
	margin-right: 22px;
	border-radius: 5px;
	/* background-color: red; */
}

#order-stock-container {
	/* border: 1px solid rgb(227, 233, 237); */
	/* height: 450px; */
	background-color: white;
	border-radius: 5px;
	width: 330px;
	height: 447px;
	padding: 0 25px 0 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#add-to-lists-container {
	/* background-color: red; */
	height: 210px;
	display: flex;
	justify-content: flex-start;
	gap: 12px;
	align-items: center;
	flex-direction: column;
	margin-top: 25px;
}

#add-to-lists-container button {
	width: 282px;
	height: 44px;
	border-radius: 25px;
	border-radius: 25px;
	background: none;
	font-weight: 500;
	background-color: white;

	display: flex;
	align-items: center;
	gap: 5px;
	justify-content: center;

	border: 1px solid rgb(0, 200, 5);
	color: rgb(0, 200, 5);
}

.material-icons.checkmark {
	font-size: 18px;
	align-self: center;
}

#add-to-lists-container button:hover {
	background-color: rgb(228, 255, 229);
	cursor: pointer;


}
