.fund-container {
	display: flex;
	justify-content: center;
}

.fund-form-wrapper label {
	font-size: 13px;
}

.fund-form-wrapper {
	width: 565px;
	height: 420px;
	/* margin-top: 20%; */
}

.fund-form-wrapper input,
.fund-form-wrapper select {
	width: 280px;
}

#transfer-money-heading {
	font-size: 24px;
	margin-bottom: 50px;
	font-weight: 500;
}

.section {
	display: flex;
	justify-content: space-between;
	/* margin-bottom: 15px; */
}

.input-tag-one,
.input-tag-two {
	height: 36px;
	width: 350px;
	border: solid 1px rgb(227, 233, 237);
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
}

.input-tag-one {
	text-align: right;
}

.input-tag-two {
	text-align: left;
}

.input-tag-two:hover,
.input-tag-one:hover {
	border: solid 1px rgb(43, 42, 42);
}

.input-tag-two:focus,
.input-tag-one:focus {
	outline: none;
	border: solid 1px rgb(47, 184, 32);
}

.submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.small-txt {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	margin: 1.5em;
	color: #8d8b8b;
	font-size: 13px;
}

.transfer-funds-button-container {
	text-align: center;
}

.transfer-funds-button {
	width: 420px;
	height: 44px;
    font-weight: 500;
	border-radius: 25px;
	border: none;
	background-color: black;
	color: white;

    transition: all .3s;
}

.transfer-funds-button:hover {
    cursor: pointer;
    background-color: rgba(38, 38, 38, 1);
}

.error-blocks {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.error {
	color: red;
	font-size: small;
}

.close-transfer-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 120px;
	/* position: fixed; */
	/* right: 50px;
    top: 50px; */
	width: 100%;
}

#close-transfer-form {
	padding: 10px;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-right: 25px;
	font-size: 27px;
       transition: all .3s;
}

#close-transfer-form:hover {
	background-color: rgba(225, 224, 224, 0.444);
	cursor: pointer;
}
