@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

#list-container {
	position: fixed;
	right: 0px;
	top: 60px;
	width: 330px;
	height: 85vh;
	overflow-y: auto;
	border: 1px solid #cccccc98;
	border-radius: 5px;
	margin: 25px;
	margin-top: 40px;
	background-color: white;
}

#list-heading-container {
	border-bottom: 1px solid #cccccc98;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 25px 12px 25px;
}

#new-list-btn button {
	color: #8c8989;
	font-size: 22px;
	transition: all 0.3s;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	background: none;
	border: none;
}

#new-list-btn button:hover {
	background-color: rgba(216, 221, 225, 1);
	cursor: pointer;
}

#list-heading {
	font-size: 15px;
	font-weight: 500;
}

#list-content {
	border-bottom: 1px solid #cccccc98;
}

#list-item {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#watchlist-stocks-container.with-border-bottom {
	border-bottom: 1px solid #cccccc98;
}

#watchlist-stocks-container div {
	padding-left: 25px;
	/* padding-top: 10px;
	padding-bottom: 10px; */
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
}

#list-ticker {
	font-weight: 600;
}

#list-numbers-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	height: 60px;
}

#list-numbers-container {
	padding-right: 25px;
}

#list-graph {
	color: rgb(255, 80, 0);
}

#list-percent {
	color: rgb(0, 200, 5);
}

#watchlist-stocks-container div:hover,
#list-item:hover {
	background-color: rgba(233, 236, 237, 1);
	cursor: pointer;
}

#list-item:hover .material-icons.arrow {
	color: rgb(0, 200, 5);
}

#left-side {
	/* background-color: red; */
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

#left-side:hover {
	background-color: rgba(216, 221, 225, 1);
}

#right-side {
	margin-right: 18px;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.material-icons.eye-16 {
	font-size: 16px;
	margin-right: 12px;
	background-color: rgb(245, 248, 250);
	border-radius: 5px;
	padding: 12px 7px 12px 7px;
}

.material-icons.arrow {
	color: #8c8989;
	font-size: 25px;
}

.rotate-180 {
	transform: rotate(180deg);
	transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

.rotate-0 {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.material-icons.dots-16 {
	color: #8c8989;
	font-size: 20px;
	padding: 3px;
	border-radius: 5px;
	margin-right: 17px;
}

.material-icons.dots-16:hover {
	background-color: rgba(216, 221, 225, 1);
}

#list-name {
	font-size: 13px;
}

/* click on three dots dropdown */
#dots-drowpdown-menu {
	position: fixed;
	/* Adjust the 10px value as needed to position it correctly */
	right: 90px; /* Adjust this value as needed to align with the three dots */
	background-color: white;
	margin-top: 120px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 200px;
	z-index: 1;
}

#list-item:hover #dots-drowpdown-menu {
	display: block; /* Show the dropdown when the list item is hovered */
}

button#delete-option {
	background: none;
}

#dots-drowpdown-menu button {
	background: none;
	border: none;
	width: 100%;
	text-align: left;
}

#edit-option,
#dots-drowpdown-menu button {
	padding: 10px;
	cursor: pointer;
	font-size: 13px;
}

#edit-option:hover,
#dots-drowpdown-menu button:hover {
	background-color: #f0f0f0; /* Change background color on hover */
}
